div {
    color: rgb(0, 70, 72);
}

#div1 {
    color: purple;
}

#div2 {
    color: brown;
}

#unorder-list {
    color: blue;
}

#order-list {
    color: rgb(207, 222, 0);
}

.large-font {
    font-size: 2rem;
}

.deep-background {
    background-color: blanchedalmond;
    font-size: 4rem;
}

.version {
    background-color: aqua;
    color: brown;
    padding: 2px 10px;
    border-radius: 10px;
    display: inline-block;
    margin: 50px;
}




